@mixin griddy($num) {
	display: grid;
	grid-template-columns: repeat($num, 1fr);
}

@mixin buttons($primary, $secondary) {
	
		&:hover {
			background-color: $secondary;
			color: $primary;
		}
	
		&:active {
			transform: translateY(2px);
		}
	background-color: $primary;
	color: $secondary;

	border-radius: 5px;
	padding: 1rem 0.5rem;
	border: none;
	margin: 0.5rem 1rem;

	width: min(max-content, 1fr);
	// the color shadow have the primary but brighter color
	box-shadow: 1px 1px 1px hsla(0, 100%, 98%, 0.272) inset, 1px 1px 15px hsl(0, 0%, 0%);
	font-weight: 500;
	font-size: 2.5rem;

	transition: all 0.3s;
	cursor: pointer;
}
