// Main Colors
$background: #c36464;

$display-color: #3d6b2f;
$display-color-on: #1a3c10;

$calc: #252525;
$calc-screen: #3d6b2f;

$calc-function-button: #656060;
$calc-function-button-on: #dce310;

$calc-button: #030303;
$calc-button-on: #ffffff;

$calc-function-button: #656060;
$calc-function-button-on: #dce310;

$calc-special-button: #c1ad17;
$calc-special-button-on: #960707;

$calc-controls-button: #1cba7b;
$calc-controls-button-on: #ffffff;

$calc-operation-button: #a45f5f;
$calc-operation-button-on: #f8f8f8;

$calc-important-button: #e43737;
$calc-important-button-on: #ffffff;

// FONT COLORS

$font-color-primary: #ffffff;
$font-color-secondary: #113e18;

$stroke-color: #1b2f508f;
$stroke-color-stronger: #93a5c3dd;